[user]
    email = {{ git_config.user.email }}
    name = {{ git_config.user.name }}
[commit]
    gpgsign = true
[core]
    editor = nvim
[branch]
    autoSetupRebase = always
[init]
    defaultBranch = main
[merge]
    ff = false
[push]
    autoSetupRemote = true
    default = simple
[alias]
    amend = commit --amend --no-edit
    b = branch
    c = commit
    ca = commit -a
    cm = commit -m
    co = checkout
    hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches
    l = log
    prune = fetch --all --prune
    s = status -sb
