---
brew_prefix: "{{ ansible_facts['env']['HOMEBREW_PREFIX'] | default('/opt/homebrew') }}"
xdg_bin_home: "{{ ansible_facts['env']['XDG_BIN_HOME'] | default((ansible_facts['env']['HOME'], '.local', 'bin') | path_join) }}"
xdg_cache_home: "{{ ansible_facts['env']['XDG_CACHE_HOME'] | default((ansible_facts['env']['HOME'], '.cache') | path_join) }}"
xdg_config_dirs: "{{ ansible_facts['env']['XDG_CONFIG_DIRS'] | default('/etc/xdg') }}"
xdg_config_home: "{{ ansible_facts['env']['XDG_CONFIG_HOME'] | default((ansible_facts['env']['HOME'], '.config') | path_join) }}"
xdg_data_dirs: "{{ ansible_facts['env']['XDG_DATA_DIRS'] | default('/usr/local/share/:/usr/share/') }}"
xdg_data_home: "{{ ansible_facts['env']['XDG_DATA_HOME'] | default((ansible_facts['env']['HOME'], '.local', 'share') | path_join) }}"
xdg_lib_home: "{{ ansible_facts['env']['XDG_LIB_HOME'] | default((ansible_facts['env']['HOME'], '.local', 'lib') | path_join) }}"
xdg_state_home: "{{ ansible_facts['env']['XDG_STATE_HOME'] | default((ansible_facts['env']['HOME'], '.local', 'state') | path_join) }}"
...
